n8n_fluxo_secretaria_ia.json
{
    "name": "MedFlow: Secretária IA (WhatsApp)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "medflow-evolution-webhook",
                "options": {}
            },
            "id": "1",
            "name": "Webhook Evolution API",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ],
            "webhookId": "medflow-evolution-webhook"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.body.event }}",
                            "value2": "messages.upsert"
                        },
                        {
                            "value1": "={{ $json.body.data.messageType }}",
                            "value2": "conversation"
                        }
                    ],
                    "boolean": [
                        {
                            "value1": "={{ $json.body.data.key.fromMe }}",
                            "value2": false
                        }
                    ]
                }
            },
            "id": "2",
            "name": "Ignorar Msgs Enviadas por Mim",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM public.integrations_config LIMIT 1;"
            },
            "id": "3",
            "name": "Buscar ConfigSupabase",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.1,
            "position": [
                500,
                280
            ],
            "credentials": {
                "postgres": {
                    "id": "supabase-cred-id",
                    "name": "Supabase MedFlow"
                }
            }
        },
        {
            "parameters": {
                "agent": "conversationalAgent",
                "promptType": "define",
                "text": "={{ $('Webhook Evolution API').item.json.body.data.message.conversation }}",
                "options": {
                    "systemMessage": "={{ $json.ai_instructions }}\n\nLembre-se sempre de manter um tom {{ $json.ai_tone }}."
                }
            },
            "id": "4",
            "name": "AI Agent (Secretária)",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.4,
            "position": [
                750,
                280
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "options": {}
            },
            "id": "5",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                750,
                480
            ]
        },
        {
            "parameters": {
                "sessionId": "={{ $('Webhook Evolution API').item.json.body.data.key.remoteJid }}"
            },
            "id": "6",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.2,
            "position": [
                900,
                480
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $('Buscar ConfigSupabase').item.json.evolution_api_url }}/message/sendText/{{ $('Buscar ConfigSupabase').item.json.evolution_instance_id }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $('Buscar ConfigSupabase').item.json.evolution_api_key }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"number\": \"{{ $('Webhook Evolution API').item.json.body.data.key.remoteJid }}\",\n  \"text\": \"{{ $json.output }}\"\n}",
                "options": {}
            },
            "id": "7",
            "name": "Evolution API - Responder",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1150,
                280
            ]
        }
    ],
    "connections": {
        "Webhook Evolution API": {
            "main": [
                [
                    {
                        "node": "Ignorar Msgs Enviadas por Mim",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ignorar Msgs Enviadas por Mim": {
            "main": [
                [
                    {
                        "node": "Buscar ConfigSupabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar ConfigSupabase": {
            "main": [
                [
                    {
                        "node": "AI Agent (Secretária)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent (Secretária)",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent (Secretária)",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent (Secretária)": {
            "main": [
                [
                    {
                        "node": "Evolution API - Responder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}